# Ignora la cartella delle impostazioni di VS Code
.vscode/
.docs

# File oggetto e binari compilati
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a
*.lib
*.dat

# File temporanei e di backup
*~
*.swp
*.tmp
*.log

# File di build
/build/
/bin/
/dist/

# File generati da make
Makefile~
testSalvataggio.c
